.character {
   color: var(--bg);
   background-color: var(--fg);
   margin: 1rem;
   border-radius: 6px;
}

.character p {
   font-family: var(--main-font);
}

.controls {
   display: flex;
   justify-content: space-between;
}

.controls button {
   min-width: 80px;
}

.character-name {
   font-size: 1.5rem;
}
