.create-header {
   font-size: 1.5rem;
}

.create-header + .form-text {
   margin-bottom: 2rem;
}

.name-container,
.sex-container,
.dropdown-container,
.range-container {
   display: grid;
   margin-top: 1rem;
}

.name-container,
.sex-container {
   grid-template-columns: 90px 1fr;
}

.name-container {
   align-items: end;
}

.name-container .form-label,
.sex-container .form-label,
.dropdown-container .form-label,
.range-container .stat-container {
   grid-column: 1 / span 1;
   justify-self: end;
   margin-right: 0.5rem;
}

.name-container .form-control,
.sex-container .sex-options,
.character-name-container .required,
.dropdown-container select,
.range-container .form-control-range {
   grid-column: 2 / span 1;
}

.character-name-container {
   grid-template-rows: 1fr 24px;
}

.character-name-container .form-label,
.character-name-container .form-control {
   grid-row: 1 / span 1;
}

.character-name-container .required {
   color: var(--bg);
   grid-row: 2 / span 1;
   justify-self: start;
   margin-left: 0.5rem;
}

.sex-container .sex-options {
   display: flex;
   align-self: start;
   margin-left: 0.5rem;
}

.sex-options input {
   appearance: none;
   width: 1rem;
   height: 1rem;
   border: 3px solid var(--fg);
   border-radius: 50%;
   transition: all 0.2s linear;
}

.sex-options input:checked {
   border-width: 8px;
}

.dropdown-container {
   grid-template-columns: 100px 1fr;
}

.dropdown-container select {
   align-self: start;
}

.range-container {
   grid-template-columns: 140px 1fr;
}

.range-container .stat-container .form-label {
   margin-right: 0.5rem;
}

.create-form button {
   font-size: 1rem;
   padding: 0.8rem 1.2rem;
}

@media screen and (min-width: 768px) {
   .create-form .create-header {
      font-size: 3rem;
   }

   .create-form .form-text {
      font-size: 1.25rem;
   }

   .form-group .form-label {
      font-size: 1.5rem;
   }

   .name-container .form-label,
   .sex-container .form-label,
   .dropdown-container .form-label,
   .range-container .stat-container {
      margin-right: 1rem;
   }

   .form-group .form-control {
      font-size: 1.5rem;
   }

   .character-name-container {
      grid-template-rows: 1fr 32px;
   }

   .character-name-container .required {
      font-size: 1rem;
   }

   .sex-options input {
      width: 1.5rem;
      height: 1.5rem;
   }

   .sex-container .sex-options {
      align-self: center;
   }

   .sex-options input:checked {
      border-width: 12px;
   }

   .dropdown-container select {
      font-size: 1.5rem;
   }

   .range-container .stat-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
   }

   .range-container .stat-container .badge {
      font-size: 1.5rem;
   }
}
