.App {
   text-align: center;
}

main {
   display: flex;
   justify-content: center;
   margin: 1rem 1rem 3rem;
}

.modal-content {
   background-color: var(--bg);
}

.modal-header {
   color: var(--danger);
}

.modal-header,
.modal-footer {
   border-color: var(--fg);
}
